.hiring-interns {
    max-width: 37.5rem; /* 600px / 16px = 37.5rem */
    margin: 0 auto;
    padding: 1.25rem; /* 20px / 16px = 1.25rem */
    text-align: center;
}

.social-media a {
    display: inline-block;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1.5625rem; /* 25px / 16px = 1.5625rem */
    margin-bottom: 0.625rem; /* 10px / 16px = 0.625rem */
    margin-top: 0.625rem; /* 10px / 16px = 0.625rem */
}

.social-media-img {
    transition: filter 0.3s ease, transform 0.2s ease;
}

.social-media-img:hover {
    transform: scale(1.3);
}
