@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.section-container-contacts{
    border: 2px solid purple; 
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #92ccdd, #c7eff0);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    color: #92ccdd;
    background: linear-gradient(45deg, #c7eff0, #92ccdd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/* .section-container-contacts {
    background-color: rgba(255, 0, 60, 0.05);
    display: grid;
    place-items: center;
    height: 100vh;
} */

/* .hiring-interns {
    max-width: 37.5rem; 
    padding: 1.25rem; 
}

.social-media a {
    display: inline-block;
}

.social-media {
    gap: 1.5625rem; 
    margin-bottom: 0.625rem; 
    margin-top: 0.625rem; 
}

.social-media-img {
    transition: filter 0.3s ease, transform 0.2s ease;
}

.social-media-img:hover {
    transform: scale(1.3);
} */

/* .section-container-my-stack {
    margin-bottom: 2.5rem; 
}

.section-title {
    margin-bottom: 0.9375rem; 
    align-self: flex-start;
}

.section-container-my-stack h2 {
    margin-bottom: 0.9375rem; 
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem; 
    max-width: 25rem;
    margin: 0 auto;
    align-self: flex-start;
}

.img-container {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.2s ease;
    flex: 0 calc(16.666% - 1.25rem); 
}

.img-container:hover {
    filter: none;
    transform: scale(1.3);
}

.img-container img {
    display: block;
    margin: 0 auto;
} 
 */
