.container-footer {
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem;
    background-color: #d5f2ff; 
    text-align: center; 
}

.footer {
    font-weight: bolder;
}