/* .title h1 {
    text-align: center;
} */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; 
    background-color: #d5f2ff;
}

.header-nav {
    display: flex;
    gap: 0.78125em; 
}

.header-nav-item {
    margin: 0;
    padding: 0.15625em 0.3125em; 
    font-weight: 1000;
    transition: transform 0.3s ease;
}

.mobile-menu-toggle {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}

.mobile-menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

@media (max-width: 768px) {
    .mobile-menu-toggle {
        display: block; /* Show on smaller screens */
    }

    .header-nav {
        display: none; /* Hide the regular nav on smaller screens */
    }

    .header-nav.active {
        display: block; /* Show the mobile nav on smaller screens */
        background-color: #f9f9f9;
        padding: 20px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header-nav.active .header-nav-item {
        padding: 10px 0;
    }
}



.header-nav-item:hover {
    transform: scale(1.2);
}

.header-nav-item a {
    text-decoration: none;
    color: black;
}

section {
    padding: 1.25rem; /* 20px / 16px = 1.25rem */
}
