#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d6f1fd; 
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav-item {
    margin: 0;
    padding: 5px 10px;
    font-weight: 1000;
    transition: transform 0.3s ease;
}

.header-nav-item:hover {
    transform: scale(1.2);
}

.header-nav-item a {
    text-decoration: none;
    color: black;
}

section {
    padding: 20px;
}