.greeting-container {
    text-align: center;
    height: 90px;
}

.title {
    font-family: 'Quattrocento', serif;
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider{
    box-sizing: border-box;
    animation: slider 20s linear infinite
}

@keyframes slider{
    0% { margin-top: -1300px; }

    3.57% { margin-top: -1300px; }
    7.14% { margin-top: -1100px; }
    
    10.71% { margin-top: -1100px; }
    14.28% { margin-top: -900px; }
    
    17.85% { margin-top: -900px; }
    21.42% { margin-top: -700px; }
    
    25% { margin-top: -700px; }
    28.57% { margin-top: -500px; }
    
    32.14% { margin-top: -500px; }
    35.71% { margin-top: -300px; }
    
    39.28% { margin-top: -300px; }
    42.85% { margin-top: -100px; }
    
    46.42% { margin-top: -100px; }
    50% { margin-top: 100px; }
    
    53.57% { margin-top: 100px; }
    57.14% { margin-top: 300px; }
    
    60.71% { margin-top: 300px; }
    64.28% { margin-top: 500px; }
    
    67.85% { margin-top: 500px; }
    71.42% { margin-top: 700px; }
    
    75% { margin-top: 700px; }
    78.57% { margin-top: 900px; }
    
    82.14% { margin-top: 900px; }
    85.71% { margin-top: 1100px; }
    
    89.28% { margin-top: 1100px; }
    92.85% { margin-top: 1300px; }
    
    96.42% { margin-top: 1300px; }
    100% { margin-top: 1500px; }
}