@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Press+Start+2P&family=Quattrocento&family=Teko&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
/* font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Teko', sans-serif; */

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.625rem; /* 10px / 16px = 0.625rem */
}

::-webkit-scrollbar-track {
    background: #fffee0; 
}

::-webkit-scrollbar-thumb {
    background: #FAC898; 
    border-radius: 1.5625rem; /* 25px / 16px = 1.5625rem */
    transition: 0.1s ease-in;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ffb774; 
}

/* General styles */
body {
    background-color: #fffee0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
    font-size: 1.875rem; /* 30px / 16px = 1.875rem */
    padding-bottom: 0.625rem; /* 10px / 16px = 0.625rem */
}

h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    /* text-align: center; */
    font-size: 2.5rem; /* 40px / 16px = 2.5rem */
}

h3 { 
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 1000;
    /* text-align: center; */
    font-size: 2.5rem; /* 40px / 16px = 2.5rem */
}

p {
    margin: 0;
    font-family: 'Oswald', serif;
    font-size: 1.25rem; /* 20px / 16px = 1.25rem */
    /* text-align: center; */
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 1.25rem; /* 20px / 16px = 1.25rem */
    right: 1.25rem; /* 20px / 16px = 1.25rem */
    padding: 0.625rem; /* 10px / 16px = 0.625rem */
    border: none;
    border-radius: 3.125rem; /* 50px / 16px = 3.125rem */
    cursor: pointer;
    animation: fadeIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out; 
}

#back-to-top-button:hover {
    background-color: #8d8d8d;
}

#back-to-top-button svg {
    width: 1.5rem; /* 24px / 16px = 1.5rem */
    height: 1.5rem; /* 24px / 16px = 1.5rem */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
