@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Press+Start+2P&family=Quattrocento&family=Teko&display=swap');
/* font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Teko', sans-serif; */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fffee0; 
}

::-webkit-scrollbar-thumb {
    background: #FAC898; 
    border-radius: 25px;
    transition: 0.1s ease-in;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ffb774; 
}

body {
    background-color: #fffee0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    text-align: center;
    font-size: 40px;
}

h3 { 
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 1000;
    text-align: center;
    font-size: 40px;
}

p {
    margin: 0;
    font-family: 'Oswald', serif;
    font-size: 20px;
    text-align: center;
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#back-to-top-button:hover {
    background-color: #8d8d8d;
}

#back-to-top-button svg {
    width: 24px;
    height: 24px;
}
