#section-container-projects {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    overflow: visible;
    height: 100vh;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #fce1e4, #e8dff5);
}

.section-container-projects h1 {
    position: absolute;
}

.projects-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

input {
    display: none;
}

.cards-container {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    max-width: 37.5rem;
    max-height: 37.5rem;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    position: relative;
    height: 31.25rem;
    width: 27.5rem;
    margin-bottom: 1.25rem;
    perspective: 62.5rem;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 26rem;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card {
    position: flex;
    height: 100%;
    background-color: #d1dff6;
    border-radius: 1rem;
    padding: 1rem 0.125rem;
    margin-top: 0.3125rem;
}

.card .image {
    display: flex;
    justify-content: center;
}

.card .image img {
    border-radius: 0.3125rem;
    width: 24rem;
    height: 12.5rem;
    object-fit: contain;
}

.card .image video {
    border-radius: 0.3125rem;
    width: 24rem;
    height: 12.5rem;
    object-fit: cover;
}

.card .image .dots {
    text-align: center;
}

.dots div {
    width: 0.5rem;
    height: 0.5rem;
}

.dots div:nth-child(1) {
    background-color: var(--current-color1);
}

.card .infos {
    display: block;
    text-align: end;
    padding-top: 3.75rem;
}

.infos span {
    display: block;
}

.infos .name {
    font-family: 'Oswald', serif;
    font-size: 1.875rem;
    color: var(--current-color1);
    letter-spacing: 0.5rem;
    margin-bottom: 1.25rem;
    padding-left: 15%;
    transition: all 0.6s ease;
}

.infos .lorem {
    font-family: 'Oswald', serif;
    font-size: 0.9375rem;
    color: #eceaed;
    letter-spacing: 0.1875rem;
}

.card .btn-contact {
    font-family: 'Oswald', serif;
    width: 80%;
    height: 3.75rem;
    margin: 2.1875rem auto;
    border-radius: 0.3125rem;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5625rem;
    letter-spacing: 1rem;
    font-weight: 700;
    transition: all 0.7s ease;
}

.card .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    background-color: #d1dff6;
    box-shadow: 0 0.9375rem 2.1875rem 0 rgba(0, 0, 0, 0.45);
    transform: translate3d(-70%, 0, -13.75rem);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    background-color: #d1dff6;
    box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.45);
    transform: translate3d(-35%, 0, -6.875rem);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    background-color: #d1dff6;
    box-shadow: 0 1.5625rem 3.125rem 0 rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, 0);
    --current-color1: #92b6f0;
    --current-color2: #eceaed;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    background-color: #d1dff6;
    box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.45);
    transform: translate3d(35%, 0, -6.875rem);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    background-color: #d1dff6;
    box-shadow: 0 0.9375rem 2.1875rem 0 rgba(0, 0, 0, 0.45);
    transform: translate3d(70%, 0, -13.75rem);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}
